.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__container{
    display: flex;
}

.main__container{
    display: flex;
    flex-direction: column;
}

.filter__container{
    display: flex;
    flex-direction: column;
}